.button {
  background-color: var(--green);
  border: 0;
  border-radius: 0.25em;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5em 0.5em calc(0.5em + 1px);
}

.button:hover:not(:active):not(:disabled) {
  transform: translateY(-2px);
  transition: transform 0.1s;
}

.button:disabled {
  opacity: 0.7;
}
